body {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

.header-container {
    height: auto;
    width: 100vw;
    background-color: #23272A;
    margin-top: 0;
    text-align: center;
    padding-bottom: 50px;
}

img {
    max-width: 250px;
    border-style: inset;
    border-color: #5865F2;
    border-radius: 50%;
    margin-top: 40px;
}

a.a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

a {
    font-size: 20px;
    margin: 15px;
    color: whitesmoke;
}

a.link-me{
    font-size: 17;
    margin: 0;
    text-decoration: none;
}

a.linkedin{
    margin: 0;
}

section {
    background-color: #5865F2;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    padding: 10px;
}

.container-biography {
    height: auto;
    width: 99vw;
    background-color: #5865F2;
    margin: 0;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

#biography-title {
    font-size: 40px;
    margin-bottom: 50px;
}

.biography-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 650px;
    border: 2px solid #23272A;
    border-radius: 20px;
    display: flex;
    padding: 0rem 1rem;
}

.container-projects {
    height: auto;
    padding-top: 20px;
    width: 99;
    background-color: #23272A;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-title {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.img2 {
    max-width: 200px;
    border-style: inset;
    border-color: #5865F2;
    border-radius: 50%;
    margin-top: 20px;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.card-wrapper h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 10px;
    transition: 0.5s ease-in-out;
}


.container-contacts {
    height: auto;
    width: 99vw;
    background-color: #5865F2;
    margin: 0;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#contacts-title {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.contacts-item {
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}

.contacts-answer {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
}

.footer {
    background-color: #5865F2;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
}

hr {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

@media screen and (max-width: 480px) {
    .header-container {
        height: 55vh;
    }

    img {
        max-width: 150px;
        margin-top: 20px;
    }

    a.a {
        font-size: 16px;

    }

    a {
        font-size: 13px;
    }

    a.link-me {
        font-size: 12px;
    }

    section {
        max-width: 250px;
        padding: 5px;
    }

    .container-biography {
        height: auto;
        font-size: 20px;
        padding-bottom: 40px;
    }

    #biography-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .biography-text {
        font-size: 11px;
        max-width: 300px;
        padding: 0.5rem;
    }

    .container-projects {
        height: auto;
    }

    .card {
        width: 200px;
        height: 200px;
    }

    #projects-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .img2 {
        max-width: 80px;
        margin-top: 10px;
    }

    .card-text {
        width: 70%;
        max-width: 180px;
        font-size: 10px;
        letter-spacing: 0.5px;
    }

    .container-contacts {
        height: auto;
        font-size: 20px;
        padding-bottom: 10px;
    }

    #contacts-title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contacts-item,
    .contacts-answer {
        font-size: 13px;
        margin-right: 5px;
        margin-bottom: 20px;
    }

    .footer {
        font-size: 10px;
        padding: 10px;
    }

    .link {
        font-size: 17;
    }
}
